- title('About')

.container
  markdown:
    # About

    docrystal.org hosts documentation for [Crystal](http://crystal-lang.org) shards on GitHub.

    The source code for docrystal.org is available on [GitHub](https://github.com/docrystal).

    ## Add a shard to docrystal

    docrystal generates documentation from crystal source code.

    To add a shard to docrystal, [search](/search) for the shard by github URL (ex: `github.com/manastech/crystal`). If docrystal does not already have the documentation for the shard, then docrystal will fetch the source from the version control system on the fly and add the documentation.

    docrystal checks for shard updates once per day.

    ## Badges

    docrystal.org provides badges for your shards. [See also](/badge).

    ## Feedback

    Send your ideas, feature requests and questions to the [info@docrystal.org mailing list](mailto:info@docrystal.org). Report bugs using the [GitHub Issue Tracker](https://github.com/docrystal/docrystal/issues).

