- title('About')

.container
  markdown:
    # About

    docrystal.org hosts documentation for [Crystal](http://crystal-lang.org) shards on GitHub.

    The source code for docrystal.org is available on [GitHub](https://github.com/docrystal).

    ## Badges

    docrystal.org provides badges for your shards. [See also](/badge).

    ## Feedback

    Send your ideas, feature requests and questions to the [info@docrystal.org mailing list](mailto:info@docrystal.org). Report bugs using the [GitHub Issue Tracker](https://github.com/docrystal/docrystal/issues).

