.container.text-center
  h1 400 Bad Request

  p The service received a incomplete request.

  p Is this like a bug? Please report issue to #{link_to('GitHub', 'https://github.com/docrystal/docrystal/issues')}.

