.container.text-center
  h1 403 Forbidden

  p You are not authorized to access this page.

  p Is this like a bug? Please report issue to #{link_to('GitHub', 'https://github.com/docrystal/docrystal/issues')}.
