.container.text-center
  h1 500 Internal Server Error

  p We're sorry, but something went wrong.

  p Is this like a bug? Please report issue to #{link_to('GitHub', 'https://github.com/docrystal/docrystal/issues')}.
