.shard-docs-controller {
  #console {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    overflow: auto;
    font-family: Ricty, monospace;
    text-align: left;
    max-height: 400px;
  }
}
